<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('PhoneBook')}}
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0);" class=" waves-effect waves-block()" (click)="getPeople();"><i class="material-icons">refresh</i> {{l('Refresh')}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <div class="form-group">
                    <h3>{{l("AllPeople")}} <span *ngIf="!isTableLoading">({{people.length}})</span></h3>
                    <div class="input-group" *ngIf="!isTableLoading">
                        <input [(ngModel)]="filter" name="filter" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text" />
                        <span class="input-group-btn">
                            <button (click)="getPeople()" class="btn btn-primary waves-effect" type="submit" title="{{l('SearchWithThreeDot')}}">
                                <i class="material-icons">search</i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="" id="mainTable" *ngIf="!isTableLoading">
                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr *ngFor="let person of people">
                                <td>
                                    <!-- https://stackoverflow.com/questions/40653758/angular-2-prevent-enter-from-submitting-in-template-driven-form-->
                                    <form (keydown.enter)="$event.preventDefault()" class="form-inline">
                                        <div class="form-group">
                                            <h4 (click)="editPersonDetails(person)" class="h4 font-bold" role="button" title="Show person details" style="float: left">
                                                <!--   <a href="javascript:void(0);">content</a>-->
                                                {{person.name + ' ' + person.surname}}
                                            </h4>
                                            <button *ngIf="isGranted('Pages.Tenant.PhoneBook.DeletePerson')" (click)="deletePerson(person)" title="{{l('DeletePerson')}}"
                                                    class="pull-right btn btn-danger don-btn-circle waves-effect ">
                                                <i class="material-icons">delete</i>
                                            </button>
                                            <button *ngIf="isGranted('Pages.Tenant.PhoneBook.EditPerson')" (click)="editPerson(person.id)" title="{{l('EditPerson')}}"
                                                    class="pull-right btn btn-primary don-btn-circle waves-effect m-r-5">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </div>
                                        <span class="text">
                                            {{person.emailAddress}}
                                        </span>
                                        <div *ngIf="person===editingPerson" class="">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 10%"></th>
                                                        <th style="width: 15%">{{l("Type")}}</th>
                                                        <th style="width: 75%">{{l("PhoneNumber")}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let phone of person.phones">
                                                        <td>
                                                            <button (click)="deletePhone(phone, person)" class="btn btn-danger">
                                                                <i class="material-icons">clear</i>
                                                            </button>
                                                        </td>
                                                        <td>{{getPhoneTypeAsString(phone.type)}}</td>
                                                        <td>{{phone.number}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button (click)="savePhone()" class="btn btn-success">
                                                                <i class="material-icons">save</i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <select name="Type" [(ngModel)]="newPhone.type" class="form-control">
                                                                <option value="0">{{l("PhoneType_Mobile")}}</option>
                                                                <option value="1">{{l("PhoneType_Home")}}</option>
                                                                <option value="2">{{l("PhoneType_Business")}}</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" name="number" [(ngModel)]="newPhone.number" class="form-control" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                    <button *ngIf="isGranted('Pages.Tenants.PhoneBook.CreatePerson')" type="button" class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float pull-right"
                            (click)="createPerson()" title="{{l('CreateNewPerson')}}">
                        <i class="material-icons">add</i>
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>


<create-person-modal #createPersonModal (modalSave)="getPeople()"></create-person-modal> <!--#createPersonModal used in ViewChild() in component.ts-->
<!--<create-person-modal2 #createPersonModal2 (modalSave)="getPeople()"></create-person-modal2>-->
<edit-person-modal #editPersonModal (modalSave)="getPeople()"></edit-person-modal>

<!--<create-role-modal #createRoleModal (modalSave)="refresh()"></create-role-modal>-->
